.search-group {
  height: 148px;
  width: 1110px;
  left: 128px;
  top: 80px;
  border-radius: 8px;
  padding: 24px;
}

.w-100p {
  width: 100px;
}

.w-75p {
  width: 75px;
}

.opacity03 {
  opacity: 0.3;
}

.cursor-pointer {
  cursor: pointer;
}

.m-left-10p {
  margin-left: -10px;
}

.underline {
  color: #0099fb !important;
  text-decoration: underline !important;
}

.w-170p {
  width: 170px;
}

.w-83p {
  width: 83px;
}

.btn-search {
  margin-top: 22px;
  margin-left: -7px;
}

.wid-31 {
  width: 32% !important;
  max-width: 32% !important;
}

.pagination-analises /deep/ .ngx-pagination .current {
  color: #fefefe !important;
  cursor: pointer !important;
  background: #61BA46 !important;
  padding: 0.1875rem 0.625rem !important;
}

.m-left-5 {
  margin-left: 5px;
}

.position /deep/ .md-drppicker {
  top: auto;
  left: 0px;
  right: auto;
  margin-top: 38px !important;
  margin-left: 569px !important;
}

.multiselect-item-checkbox > div:before {
  color: #198754 !important;
  border: 2px solid #198754 !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  max-width: 115px !important;
  background: #61Ba46 !important;
  border: 1px solid #61Ba46 !important;
}

.multiselect-dropdown .dropdown-btn {
  border: cadetblue !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: #61Ba46 !important;
}

.md-drppicker td.active, .md-drppicker td.active:hover {
  background-color: #61Ba46 !important;
}

.md-drppicker .btn, .md-drppicker .btn:focus, .md-drppicker .btn:hover {
  background-color: #61Ba46 !important;
}

.md-drppicker .btn-default , .md-drppicker .btn-default:hover{
  background-color: #dcdcdc !important;
}

.ngx-pagination .current {
  background: #61Ba46 !important;
}
.ngx-pagination {
  color: #61ba46 !important;
  display: flex;
  justify-content: center;
}

.select-number-count {
  width: 100px;
  margin-top: -5px;
}

.min-wid-column-table {
  min-width: 105px !important;
}

.margin-top-5 {
  margin-top: 5px;
}

.md-drppicker .clear svg {
  color: #eb3232;
  fill: currentColor;
  cursor: pointer !important;
  margin-top: -14px !important;
}



.md-drppicker .clear, .md-drppicker .btn.btn-default {
  background-color: #dcdcdc !important;
}

.md-drppicker .btn {
  height: auto;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
  color: #ecf0f1;
  border-radius: 2px;
  line-height: 36px;
  padding: 0px 5px 0px 5px;
  text-transform: uppercase;
  transition: background-color .4s;
  box-shadow: 0 0px 0px rgb(0 0 0 / 60%) !important;
}

.md-drppicker {
  height: 600px !important;
}
.arrow-area-position{
  padding-top: 2.5rem;
  padding-bottom: .25rem;
  margin-top: -1.5rem;
  margin-left: 0rem;
}
.arrow-up-position{
  margin-left: .5rem;
}
.arrow-down-position{
  margin-left: -.57rem;
}
.hide-click {
  pointer-events: none;
}


/*Area com os filtros*/
.results-per-page{
  color: #767A76;
  white-space: nowrap;
}

.relative-col{
  position: relative;
}

.icon-search {
  position: absolute;
  padding: 10px;
  min-width: 40px;
}

.icon-leaf{
  position: absolute;
  min-width: 40px;
  top: 11px;
  left: 85px;
}

.icon-user{
  position: absolute;
  min-width: 40px;
  top: 10px;
  left: 85px;

}

.icon-data{
  position: absolute;
  min-width: 40px;
  top: 10px;
  left: 95px;
}

.icon-microchip {
  position: absolute;
  min-width: 40px;
  top: 11px;
  left: 84px;
}

.icon-excel {
  position: absolute;
  min-width: 40px;
  top: 11px;
  left: 85px;
}

.fa-search-custom{
  color: #A6ADA6;
}
.fa-leaf-custom{
  text-indent: 2rem;
  line-height: 1.22rem;
  margin-left: -5.2rem;
  color: #61BA46;
}
.fa-user-custom{
  text-indent: 1.65rem;
  line-height: 1rem;
  margin-left: -5rem;
  color: #61BA46;
}
.fa-calendar{
  text-indent: .5rem;
  line-height: 1.3rem;
  margin-left: -5rem;
  color: #61BA46;
}

.fa-excel {
  text-indent: 2rem;
  line-height: 1.22rem;
  margin-left: -5.2rem;
  color: #61BA46;
}

.input-field{
  width: 100%;
  text-indent: 1.5rem;
  padding: 8px;
}

.multiselect-dropdown{
  background-color: #61ba463a!important;
  text-align-last: center !important;
  color: #61BA46;
  border-radius: 4px;
  user-select: none;
}

/* .selected-item {
    color: pink !important;
    display: none !important;
    height: 50px !important;
} */

.input-group input{
  background-color: #61ba463a !important;
  text-align: center !important;
  color: #61ba46 !important;
  cursor: pointer !important;
  border-radius: 4px !important;
  border: 1px solid transparent !important;
  padding: 8px!important;
  height: 38.5px;
}
.input-group ::placeholder{
  color: #61ba46 !important;
}

.multiselect-item-checkbox {
  text-align-last: start !important;
}

.flex-results-per-page {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: end;
}

.btn-excel {
  background-color: #61ba463a;
  white-space: nowrap;
  width: 100%;
  height: 36.5px;
  text-align: center;
  padding: 6px 12px;
}

.text-excel {
  vertical-align: middle !important;
  color: #61ba46;
  display: inline-block;
  margin-top: -.2rem;
}

.form-select {
  display: initial !important;
  margin-left: 5px;
}


@media screen and (min-width: 768px) and (max-width: 1366px) {
  .flex-results-per-page {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 20px;
    justify-content: end;
  }
  .btn-excel {
    width: 100%;
    min-width: 220px;
    margin-right: 1.2rem;
  }
  .sample-text{
    white-space: nowrap;
  }
  .icon-leaf{
    position: absolute;
    min-width: 40px;
    top: 11px;
    left: 65px;
  }

  .icon-user{
    position: absolute;
    min-width: 40px;
    top: 10px;
    left: 62px;
  }
  .icon-data{
    position: absolute;
    min-width: 40px;
    top: 10px;
    left: 20px;
  }
  .relative-col{
    min-width: 135px;
  }


}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .btn-excel {
    width: 100%;
    margin-top: 1px;
  }
  .icon-leaf{
    position: absolute;
    min-width: 40px;
    top: 11px;
    left: 78px;
    margin-left: -5.2rem;
  }

  .icon-user{
    position: absolute;
    min-width: 40px;
    top: 10px;
    left: 78px;
    margin-left: -4.9rem;
  }
  .icon-data{
    position: absolute;
    min-width: 40px;
    top: 10px;
    left: 88px;
    margin-left: -4.5rem;
  }
  .fa-excel {
    color: #41B314;
    vertical-align: middle;
    font-size: 18px;
    position: absolute;
    right: 150px;
  }
}

@media screen and (min-width: 364px) and (max-width: 768px) {
  .flex-results-per-page {
    justify-content: start;
  }
  .btn-excel {
    width: 100%;
    margin-top: 1px;
  }
  .icon-leaf{
    position: absolute;
    min-width: 40px;
    top: 11px;
    left: 78px;
    margin-left: -5.2rem;
  }

  .icon-user{
    position: absolute;
    min-width: 40px;
    top: 10px;
    left: 78px;
    margin-left: -4.9rem;
  }
  .icon-data{
    position: absolute;
    min-width: 40px;
    top: 10px;
    left: 88px;
    margin-left: -4.5rem;
  }
  .fa-excel {
    color: #41B314;
    vertical-align: middle;
    font-size: 18px;
    position: absolute;
    left: 80px;
  }
}

@media screen and (min-width: 912px) and (max-width: 1368px) {
  .flex-results-per-page {
    justify-content: start;
  }
  .btn-excel {
    padding: 6px 12px;

  }
  .icon-leaf{
    position: absolute;
    min-width: 40px;
    top: 11px;
    left: 72px;
    margin-left: -5.2rem;
  }

  .icon-user{
    position: absolute;
    min-width: 40px;
    top: 10px;
    left: 72px;
    margin-left: -4.9rem;
  }
  .icon-data{
    position: absolute;
    min-width: 40px;
    top: 10px;
    left: 88px;
    margin-left: -4.5rem;
  }
  .fa-excel {
    color: #41B314;
    vertical-align: middle;
    font-size: 18px;
    position: absolute;
    right: 165px;
    margin-right: 81.5%;
  }
}



